<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/index.css">
    <link rel="stylesheet" href="/assets/styles/home.css">
    <title>Packs</title>
</head>
<body>
    <div class="home-title-container">
      <h3 class="home-text home-title">Packs - an alecks.dev service</h3>
      <h3 class="home-text">We provide free resource pack hosting for server owners, simplifying the process of setting up server resource packs, have a look around to find out what makes us different.</h3>
    </div>

    <div class="home-container">
        <h3 class="home-text">Quickly drag and drop a .zip file click upload and instantly get a url to pop in your server.properties, super convenient and easy.</h3>
        <h3 class="home-text">(Coming soon) Use our dashboard to manage all your resource packs, even crate permalinks so you can swap them out for new versions without updating the url.</h3>
    </div>

    <div class="home-title-container-2">
        <h3 class="home-text">Sounds good? <a href="https://discord.com/oauth2/authorize?client_id=1326164967845662721&response_type=code&redirect_uri=https%3A%2F%2Fpacks.alecks.dev%2Fcallback%2Fdiscord&scope=identify" class="login-text">Login with Discord</a>.</h3>
      </div>
</body>
</html>