<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/index.css">
    <link rel="stylesheet" href="/assets/styles/home.css">
    <title>Packs</title>
</head>
<body>
    <div class="home-title-container">
      <h3 class="home-text home-title">Packs - an alecks.dev service</h3>
      <h3 class="home-text">We provide free resource pack hosting for minecraft server owners, simplifying the process of setting up server resource packs.</h3>
    </div>

    <div class="home-container">
        <h3 class="home-text">Drag and drop a .zip file then instantly get a url to pop in your server.properties, super convenient and easy.</h3>
        <h3 class="home-text">(Coming soon) Use our dashboard to manage all your resource packs, even create permalinks so you can swap them out for new versions without having to update the url.</h3>
    </div>


    <div class="home-title-container-2">
        <h3 class="home-text">This service is currently in a closed beta.</h3>
    </div>


</body>
</html>